<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}lolsummd{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="background-white">
    <header class="background-black text-white">
        <nav>
            <h1 id="title"><a href="/">lolsummd</a></h1>
            <ul id="header-navbar-ul">
                <li><a href="/help">Help</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>

    <main class="container background-white text-black">
        {% block content %}{% endblock %}
    </main>

    <footer class="background-black text-white">
        <p>&copy; 2026 lolsummd. All rights reserved.</p>
    </footer>
</body>
</html>