{% extends "base.html" %}
{% block title %}lolsummd - Help{% endblock %}
{% block content %}
<div>
    <h2>Overview</h2>
    <p>
        lolsummd allows you to combine the champion mastery data of multiple League of Legends accounts into one big summary.
    </p>
    <p>
        You can add up to 10 accounts at a time from any region.
    </p>
</div>

<div>
    <h2>Instructions</h2>
    <p>On the home page, add up to 10 accounts by entering their username and tag (e.g., SummonerName#NA1 -> SummonerName and NA1).</p>
    <p>After adding the accounts, click "Get Combined Mastery" to retrieve the combined champion mastery data.</p>
    <p>You can remove individual accounts by clicking the "Remove" button next to each account
        or clear all accounts by clicking the "Clear" button.</p>
</div>

<!-- <div>
    <h2>FAQ</h2>
</div> -->

<div>
    <h2>Other</h2>
    <p>
        If there are any errors that you encounter, please report them on 
        the <a href="https://github.com/hutnerr/lolsummd/issues">GitHub issues page</a>.
    </p>
    <p>
        If you have any suggestions for new features or improvements, please also share them with me
        <a href="https://www.hunter-baker.com/pages/other/contact.html">here</a>.
    </p>
    <p>
        If you've found this product useful and would like to support its development, you can support me on Ko-fi.
    </p>
    <a href="https://ko-fi.com/S6S71TM9XT" target="_blank" rel="noopener noreferrer"><img src="https://ko-fi.com/img/githubbutton_sm.svg" alt="Buy Me a Coffee"></a>
</div>
{% endblock %}