{% extends "base.html" %}
{% block title %}lolsummd - Home{% endblock %}
{% block content %}
<form method="POST" action="/">
    <div class="input-box centered">
        <input type="text" name="username1" placeholder="Enter your username">
        <input type="text" name="tag1" placeholder="Enter your tag">
    </div>
    <div class="input-box centered">
        <input type="text" name="username2" placeholder="Enter your username">
        <input type="text" name="tag2" placeholder="Enter your tag">
    </div>
    <div class="input-box centered">
        <input type="text" name="username3" placeholder="Enter your username">
        <input type="text" name="tag3" placeholder="Enter your tag">
    </div>
    <div class="input-box centered">
        <input type="text" name="username4" placeholder="Enter your username">
        <input type="text" name="tag4" placeholder="Enter your tag">
    </div>
    <div class="input-box centered">
        <input type="text" name="username5" placeholder="Enter your username">
        <input type="text" name="tag5" placeholder="Enter your tag">
    </div>
    <div class="centered">
        <button type="submit">Submit</button>
    </div>
</form>

{% if result %}
<div id="output">
    <h3>Combined Mastery Summary</h3>
    <table>
        <thead>
            <tr>
                <th>Rank</th>
                <th>Champion</th>
                <th>Mastery Level</th>
                <th>Mastery Points</th>
            </tr>
        </thead>
        <tbody>
            {% for champ_name, mastery_data in result %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ champ_name }}</td>
                <td>{{ mastery_data['level'] }}</td>
                <td>{{ "{:,}".format(mastery_data['points']) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div id="output">
</div>
{% endif %}
{% endblock %}